<!DOCTYPE html>
<html>
<head>
  <title>Poster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar navbar-fixed-top'>
	<div class="container">
		<% if current_user %>
			<div class="hidden" id="current_user" data-user-id="<%= current_user.id %>"></div>
			<div class="navbar-brand"> <%= link_to "Hello #{current_user.login}", root_path %> </div>
			<a class="navbar-brand pull-right" href="/user/sign_out"> | Logout </a>
		<% else %>
			<a class="navbar-brand pull-right" href="/auth/twitter"> | Login </a>
		<% end %>
	</div>
</div>


<div id="whole_container">
	<div id="menu_bar" class="row">
		<div class="col-sm-2">
			<button onclick="window.location.href = '/posts/new';" id="new_post" type="button" class="btn btn-default">Post</button>
		</div>
		<div class="col-offset-9 col-sm-1">
			<p id="list_p">List</p>
		</div>
	</div>
	<%= yield %>
</div>

</body>
</html>