<!DOCTYPE html>
<html>
<head>
  <title>Poster</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class='navbar navbar-fixed-top'>
	<div class="container">
		<% if current_user %>
			<div class="navbar-brand"> <%= link_to "Hello #{current_user.login}", root_path %> </div>
			<a class="navbar-brand pull-right" href="/user/sign_out"> | Logout </a>
		<% else %>
			<a class="navbar-brand pull-right" href="/auth/twitter"> | Login </a>
		<% end %>
	</div>
</div>

<div id="whole_container">
	<%= yield %>
</div>

</body>
</html>